a {
  text-decoration: none;
}

.body {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  /* margin-left: auto;
  margin-right: auto; */
  padding-top: 25px;
  padding-bottom: 25px;
}


.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 620px;
  margin: 0 auto;
  list-style: none;
}

.menu__link {
  color: #FF0000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.title {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  margin-top: 50px;

}

.text {
  margin-top: 30px;
  text-align: center;
  width: 1145px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}

.btn {
  display: block;
  margin: 66px auto;
  text-transform: uppercase;
  width: 191px;
  height: 51px;
  color: #fff;
  background-color: #FF0000;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  border: #FF0000;
  letter-spacing: 1.8px;
}

.footer__text {
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #373737;
  letter-spacing: 2.4px;
  padding-top: 80px;
}